@model SpellingPracticeVer2.Models.SpellingViewModel
@{
  ViewBag.Title = "Home Page";
}

<p class="leftie">Use saved words from last session?</p>
<a class="rightie btn btn-primary" href="/Setup">Yes</a>
<p class="clearfix">OR</p>

@using (Html.BeginForm())
{
  <p>Enter new words for practice</p>

  <div class="form-group row">
    @Html.LabelFor(model => model.Word1, htmlAttributes: new { @class = "col-sm-1 col-form-label" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Word1, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Word1, "", new { @class = "text-danger" })
    </div>
  </div>
  <div class="form-group row">
    @Html.LabelFor(model => model.Word2, htmlAttributes: new { @class = "col-sm-1 col-form-label" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Word2, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Word2, "", new { @class = "text-danger" })
    </div>
  </div>
  <div class="form-group row">
    @Html.LabelFor(model => model.Word3, htmlAttributes: new { @class = "col-sm-1 col-form-label" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Word3, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Word3, "", new { @class = "text-danger" })
    </div>
  </div>
  <div class="form-group row">
    @Html.LabelFor(model => model.Word4, htmlAttributes: new { @class = "col-sm-1 col-form-label" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Word4, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Word4, "", new { @class = "text-danger" })
    </div>
  </div>
  <div class="form-group row">
    @Html.LabelFor(model => model.Word5, htmlAttributes: new { @class = "col-sm-1 col-form-label" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Word5, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Word5, "", new { @class = "text-danger" })
    </div>
  </div>
  <div class="form-group row">
    @Html.LabelFor(model => model.Word6, htmlAttributes: new { @class = "col-sm-1 col-form-label" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Word6, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Word6, "", new { @class = "text-danger" })
    </div>
  </div>
  <div class="form-group row">
    @Html.LabelFor(model => model.Word7, htmlAttributes: new { @class = "col-sm-1 col-form-label" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Word7, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Word7, "", new { @class = "text-danger" })
    </div>
  </div>
  <div class="form-group row">
    @Html.LabelFor(model => model.Word8, htmlAttributes: new { @class = "col-sm-1 col-form-label" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Word8, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Word8, "", new { @class = "text-danger" })
    </div>
  </div>
  <div class="form-group row">
    @Html.LabelFor(model => model.Word9, htmlAttributes: new { @class = "col-sm-1 col-form-label" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Word9, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Word9, "", new { @class = "text-danger" })
    </div>
  </div>
  <div class="form-group row">
    @Html.LabelFor(model => model.Word10, htmlAttributes: new { @class = "col-sm-1 col-form-label" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Word10, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Word10, "", new { @class = "text-danger" })
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <input type="submit" value="Submit" class="btn btn-default" />
    </div>
  </div>
}
